{% extends 'base.html.twig' %}

{% block title %}Register - Étape 1{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/auth.css') }}">
{% endblock %}
{% block body %}
<div class="page">

<h1 class="mobile title">StudySmart 🎓 </h1>

<div class="content">
    <a href="{{path('app_login')}}" class="desktop back">
        <svg height="24" width="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="style=linear"> <g id="arrow-short-left"> <path id="vector" d="M15.2308 5L9.37451 10.5481C8.95817 10.9425 8.75 11.4713 8.75 12C8.75 12.5287 8.95817 13.0575 9.37451 13.4519L15.2308 19" stroke-width="1.5" stroke-linecap="round"></path> </g> </g> </g></svg>
        Se connecter ? 
    </a>
    <h1 class="desktop">Bienvenue sur StudySmart 👋</h1>
    <h1 class="mobile h1mobile">Bienvenue 👋 </h1>

    {{ form_start(registrationForm) }}
    <div class="form-group">
        {{ form_widget(registrationForm.firstName) }}
        {{ form_label(registrationForm.firstName) }}
    </div>
    
    <div class="form-group">
        {{ form_widget(registrationForm.lastName) }}
        {{ form_label(registrationForm.lastName) }}
    </div>

    <button class="button" type="submit">
        Suivant
        <svg height="24" width="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="style=linear"> <g id="message"> <path id="vector" d="M4.31393 12.711L7.94019 13.9325C8.26194 14.0395 8.56301 14.1925 8.83454 14.3847C9.00903 14.5082 9.17132 14.6479 9.31906 14.8021C9.65673 15.1544 9.91837 15.5822 10.0759 16.0645L11.2995 19.6845C12.3451 22.8159 16.75 22.7493 17.7289 19.6179L21.8446 6.40374C22.2437 5.09764 21.8416 3.83567 21.0155 3C20.1841 2.15896 18.9233 1.74972 17.6176 2.1619L4.35842 6.2705C1.24384 7.24767 1.19935 11.6672 4.31393 12.711Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g> </g></svg>
    </button>
    {{ form_end(registrationForm, {'render_rest': false}) }}
</div>
</div>

{% endblock %}
